@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

body[dir="rtl"] {
  margin: 0 1rem 0 0;
}

body[dir="ltr"] {
  margin: 0 0 0 1rem;
}
